body,html{
	background:#334;
}

#header{
	background:#CCF;
	font-family:Verdana, sans-serif;
}

.right-align{
	float:right;
}

.light{
	background:#EEF;
}
.white a{
	color:#DDD;
	text-decoration:none;
}
.white a:hover{
	color:grey;
}

ul.white{
	list-style-type:none;
}
ul.white li{
	display: inline;
}