body {
	background:#FFF;
	height: 100vh;
	font-family: Century Gothic, sans-serif;
}

h1 {
	text-align: center;
	font-family: Arial, sans-serif;
}

#header {
	background:#AAF;
	font-family: Candara, sans-serif;
}

#header nav {
	background:#AAF;
	font-family: Candara, sans-serif;
}

#header nav button {
	color: black;
}

#header nav a {
	color: black;
}

#header nav div ul li a {
	color: black;
}
#header nav div ul li.active a {
	color:gray;
}
#footer {
	height: 25px;
	padding: 0;
	margin: 0;
	background-color: #AAF;
}

#footer ul {
	text-align: center;
	margin: auto;
	padding: 0;
	list-style-type: none;
}

#footer ul li {
	float: left;
	margin-left: 10px;
}

.right-align {
	float:right;
}

.body-section{
	background:#FFF;
}
.white a{
	color:#DDD;
	text-decoration:none;
}
.white a:hover{
	color:grey;
}